a {
    color: #a33a3a;
    text-decoration: none;
}

code{
    overflow-x: auto;
}

body {
    min-height: 100vh;
    margin: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    margin-top: auto;
    min-height: 50px;
    background: #222;
}

footer a {
    color: rgb(224, 96, 96);

}

/* Trick */
body {
    display: flex;
    flex-direction: column;
}

.commentsForm {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}


.title {
    color: black;
}

.titleHeader {
    display: flex;
    justify-content: space-between;
}

.post {
    margin-bottom: 10px;
}

.post header h2 {
    margin-bottom: 0;
    margin-top: 0;
}

.post header p {
    margin-top: 1px;
    font-size: 0.9em;
    color: #333333;
}

/*
    Komentáře
*/
.comment {
    position: relative;
    padding: 12px;
    color: #595959;
    border-radius: 0 0 4px 4px;
    border: 1px solid rgba(0, 0, 0, 0.15);

}

.comment-delete {
    color: red;
    font-weight: 700;
    position: absolute;
    top: 0;
    margin-top: 7px;
    right: 10px;
}

.comment p {
    margin-top: 0;
}


.comment .author {

    font-size: 1em;
    color: rgba(0, 0, 0, .87);
    font-weight: 700;
}

.comment .date {
    color: rgba(0, 0, 0, .4);
    font-size: .875em;
}


#sidebars {
    margin-left: 15px;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;

}

#sidebars h3 {
    font-size: 1.5em;
    margin-bottom: 0;
}

#sidebars a {
    font-size: 1.1em;

}

#layout {
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 1.5em;
}

#layoutPost {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 1.5em;
}

#layout header h3 {
    text-align: right;
    font-size: 1.5em;
}

@media (max-width: 900px) {
    #layoutPost {
        margin: 0 auto;
        max-width: 90vw;
        padding: 0;
    }

    .comment-delete {
        font-size: 0.7em;
    }
}


@media (max-width: 400px) {
    #sidebars {
        display: none;
    }

}